@import "main";

.TopicChooser {
  @include flex-col($spacing-6);
  width: 600px;
  max-width: 90vw;

  & > header {
    @include flex-col($spacing-3);
  }

  & > .waiting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $spacing-4;
  }

  & > ul {
    @include flex-col($spacing-2);
    width: 100%;

    & > button {
      @include flex-row;
      border: none;
      width: 100%;
      gap: $spacing-4;
      border-radius: $radius-sm;
      padding: $spacing-6 $spacing-4;
      background: $blue-500;

      // Custom icons
      & > i {
        position: relative;
        width: 30px;
        & > .base {
          @include transform-center-y;
          color: white;
        }
        & > .checked {
          @include transform-center-y;
          color: white;
          transition: transform 200ms, opacity 150ms;
          opacity: 0;
          transform: translate(0, -50%) scale(0) rotate(0deg);
        }
      }
      &:hover {
        & > i > .checked {
          opacity: 1;
          transform: translate(0, -50%) scale(1) rotate(360deg);
        }
      }

      // Interactivity for list options
      &:hover,
      &:focus {
        background-color: $blue-600;
      }
      &:active {
        background-color: $blue-300;
      }
    }
  }

  & > form {
    @include flex-col;
    background: $gray-200;
    padding: $spacing-4 $spacing-4;
    border-radius: $radius-sm;
    width: 100%;

    & > button {
      width: 100%;
    }
  }
}
