@import "main";

.RoomHeader {
  width: 100%;
  padding: $spacing-4 $spacing-6;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @include mobile {
    grid-template-columns: 1fr 0 auto;
    padding: $spacing-2 $spacing-3;
  }
  gap: $spacing-6;
  color: $gray-800;
  box-shadow: $shadow-container;
  background: $blue-500;

  & * {
    color: white;
  }

  & > .status {
    justify-self: left;
    display: flex;
    align-items: center;
    gap: $spacing-4;

    & > .countdown {
      position: relative;
      & > * {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
      }
    }
  }

  & > .controls {
    justify-self: right;
  }

  & > .center {
    position: relative;
    & > img {
      @include mobile {
        display: none;
      }
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 120px;
    }
  }
}
