@import "main";
@import "components/canvas";

.GuessingCanvas {
  @include component-canvas;

  & > header {
    & > form {
      width: 100%;
      position: relative;
      & > .input {
        color: white;
        background: rgba(0, 0, 0, 0.1);
        border-radius: $radius-md;
        padding-left: $spacing-2;
        padding-right: $spacing-24;
        &::placeholder {
          color: rgba(255, 255, 255, 0.5);
        }
        &:focus-within {
          background: rgba(0, 0, 0, 0.15);
        }
        & * {
          color: white;
          border: none;
          font-size: $text-lg;
        }
      }
      & > .submit {
        position: absolute;
        right: $spacing-4;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        border-color: rgba(255, 255, 255, 0.5);
        border-width: 2px;
        &:disabled {
          color: rgba(255, 255, 255, 0.2);
          border-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}
