@import "main";

.Home {
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: $spacing-10;
  @include mobile {
    padding: $spacing-10 $spacing-3;
  }

  & > .logo {
    position: absolute;
    width: 200px;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
    animation: Home_animateLogo 1500ms infinite alternate-reverse
      cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }

  & > main {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: $spacing-10;
    position: relative;

    @include mobile {
      padding-top: $spacing-28;
      grid-template-columns: 1fr;
    }

    & > .formContainer {
      min-width: 320px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: $spacing-4;

      &.playerForm {
        & > .avatar {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: $spacing-4;
          & > img {
            max-width: 120px;
          }
          & > .avatarActions {
            width: 100%;
            display: flex;
            & > .MuiIconButton-root {
              width: 2.4rem;
              height: 2.4rem;
            }
            & > .female {
              color: $pink-500;
            }
            & > .male {
              color: $blue-500;
            }
            & > .selected {
              border: 1px solid currentColor;
            }
            & > .randomize {
              color: $blue-500;
              margin-left: auto;
              animation: Home_spinDice 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
            }
          }
        }
      }

      &.roomForm {
        & > form {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: $spacing-2;
        }

        & > .separator {
          padding: $spacing-6 0;
        }
      }
    }
  }

  & > footer {
    padding: $spacing-4;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    & > .credits {
      @include flex-row;
    }

    @include mobile {
      position: unset;
      transform: none;
      padding: $spacing-8 0 0;
    }
  }
}

@keyframes Home_spinDice {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.8);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes Home_animateLogo {
  0% {
    transform: translate(-50%, 0%);
  }
  100% {
    transform: translate(-50%, 6%);
  }
}
