@import "main";

.Room {
  min-height: 100vh;
  position: relative;

  & > .playerList {
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    @include mobile {
      display: none;
    }
  }

  & > main {
    padding-top: $spacing-4;
    position: relative;

    & > .overlay {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: $spacing-10;
      @include flex-col;

      & + * {
        opacity: 0.4;
      }
    }

    & > .countdown {
      position: fixed;
      right: 0;
      bottom: 0;
      margin: $spacing-4 $spacing-6;
      background: white;
      padding: $spacing-2;
      border-radius: 50%;
    }

    & > .canvasContainer {
      display: grid;
      grid-template: ". canvas tools" 1fr / 1fr auto 1fr;

      & > .brushSelector {
        grid-area: tools;
        margin-left: auto;
        padding: 0 $spacing-6;
        @include mobile {
          position: fixed;
          left: 0;
          bottom: 0;
          margin: $spacing-4 $spacing-6;
          z-index: 40;
        }
      }

      & > .canvas {
        overflow: hidden;
        grid-area: canvas;
      }
    }
  }
}
